html {
  background-color: #008000;
  color: #FFE000;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.title {
  text-align: center;
  padding: 10px;
  height: 60px;
  margin: auto;
  width: 

}
